@font-face {
    font-family: 'Neue Haas Grotesk Text Pro';
    src: url('data/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Variable Concept';
    src: url('data/AcuminVariableConcept.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Acumin Variable Black';
    src: url('data/Acumin Pro Black.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Azeret';
    src: url('data/AzeretMono-Regular.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overscroll-behavior: none;
    overflow: hidden;
}

.grey {
    background-color: #cccccc;
}

h1 {
    font-family: "Neue Haas Grotesk Text Pro";
    text-transform: uppercase;
    letter-spacing: 0.05vw;
    font-size: 8vw;
    margin: 0;
    line-height: 8vw;
}

.hovBold:hover {
    font-weight: bolder;
    cursor:pointer;
}

.hovBold h1:hover {
    font-weight: bolder;
    cursor:pointer;
}

.cube .active{
    font-weight: bold;
}

.container .front{
    opacity: 50%;
}

.edicao .front{
    opacity: 100%;
}

.side_right_numbers p{
    opacity: 50%;
}

.title h1 span:hover{
    cursor:default;
}


.sub-side_num .front:hover{
    cursor:default;
}

h3 {
    font-size: 2em;
    font-family: "Acumin Variable Black";
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-family: "Acumin Variable Concept";
}

.sub-side_num p {
    font-size: 1.2em;
}

.side_right p {
    font-size: 1.3em;
}

li {
    font-size: 1.1em;
}


/*menu*/
ul {
    list-style: none;
    display: flex;
    font-family: "Azeret";
    padding: 0;
    flex-wrap: wrap;
}

ul a {
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}

a:hover {
    font-weight: bold;
    cursor:pointer;
}

ul li {
    margin-right: 0.8vw;
}

/*INDEX*/
main {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

main img {
    position: absolute;
    position: fixed;
    height: 50vh;
    transform: translate(-50%, -50%);
    z-index: -0;
    pointer-events: none;
}

.sub-side_num {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sub-side_num p {
    line-height: 0.2em !important;
}

.side {
    display: flex;
    max-width: 13%;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;

}

.edicao {
    display: flex;
    align-items: flex-end;
}


.side_right {
    display: flex;
    margin-top: 2em;
    width:87%;
    justify-content: space-between;
}

.side_right h1 {
    margin-top: 0;
}

.side_right p {
    line-height: 0.2em;
    margin-top: 0;
    font-family: Azeret;
}

.side_right p:hover {
    cursor:default;
}

.hide {
    color: transparent;
    transition: color 0.6s ease-in-out;
}

.titulo{
    padding-top:2%;
}

.hide:hover {
    color: black;
}

/*ARTIGO 1*/
u {
    text-decoration: none;
    color: transparent;
    transition: color 0.3s ease-in-out;
    text-transform: uppercase;
    font-family: "Acumin Variable Black";
}

.efeito p:hover u {
    color: black;
}

p {
    line-height: 30px;
}

/*ARTIGO 13 Ways Introdução*/
#artigo_introducao {
    background-color: #cccccc;
    position: absolute;
    top: 0;
    left: 15%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#intro1_1 {
    font-family: "Acumin Variable Black";
    text-transform: uppercase;
    width: 45%;
    margin-left: 50%;
    font-size: 1.5vw;
}

#intro1_2 {
    width: 50%;
    margin-left: 10%;
}

#intro1_3 {
    width: 50%;
    margin-left: 20%;
}

#intro_1_4 {
    font-family: "Acumin Variable Black";
    text-transform: uppercase;
    margin-left: 20%;
    font-size: 1.9em;
    line-height: 1em;
    margin-top: 10vh;
}


.efeito p {
    margin-top: 5%;
    font-size: 1.5vw;
    line-height: 1.5em;
}


.sub-side_num {
    position: fixed;
    bottom: 15%;
}

.edicao {
    position: fixed;
    bottom: 0;
}

.artigo {
    overflow: scroll;
    transition: left 1s;
    box-shadow: -5px 5px 30px 2px rgb(0 0 0 / 30%);
}

.close {
    left: 105% !important;
}

/*ARTIGO geral*/

.texto p {
    color: black;
    font-size: 1.5vw;
    line-height: 1.5em;
}

.texto {
    width: 100%;
    margin-top: 20vh;
}

.artigo_conteudo {
    width: 95%;
    margin: 0 auto;
}

.titulo img {
    width: auto;
    height: 20em;
}



.texto {
    margin-bottom: 10vh;
}

.morada {
    line-height: 1.4vw !important;
    font-size: 1vw !important;
    margin: 0 10% 0 0 ;
    align-self: flex-end;
    min-width: fit-content;
}

.artigo .texto * {
    margin: 0;
}

.artigo .titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.titulo div{
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
}

.titulo h1{
    width:62%;
}

.artigo:nth-child(3n){
    background-color:#ffffff;
}

.artigo:nth-child(3n-1){
    background-color: #b42537;
}

.artigo:nth-child(3n-2){
    background-color: #cccccc;
}

/*ARTIGO 1*/
#artigo_1 {
    position: absolute;
    top: 0;
    left: 15.5%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}


#artigo_1 .texto p:first-child {
    width: 50%;
    padding-left: 50%;
    margin-bottom: 5vh;
}

#artigo_1 .texto h3 {
    width: 70%;
    padding-left: 20%;
    margin-bottom: 5vh;
}

#artigo_1 .texto p:last-child {
    width: 70%;
    padding-left: 20%;
    margin-bottom: 5vh;
}



/*Artigo 2*/
#artigo_2 {
    position: absolute;
    top: 0;
    left: 16.2%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}


#artigo_2 .texto p:first-child {
    width: 50%;
    margin-bottom: 5vh;
}

#artigo_2 .texto h3 {
    width: 60%;
    padding-left: 30%;
}
#artigo_2 .texto p:last-child {
    width: 60%;
    padding-left: 30%;
    margin-bottom: 5vh;
}

/*Artigo 3*/
#artigo_3 {
    position: absolute;
    top: 0;
    left: 16.8%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_3 .texto p:first-child {
    width: 70%;
    margin-bottom: 5vh;
    padding-left:30% ;
}

#artigo_3 .texto h3 {
    width: 50%;
}
#artigo_3 .texto p:last-child {
    width: 50%;
    margin-bottom: 5vh;
}

/*Artigo 4*/

#artigo_4 {
    position: absolute;
    top: 0;
    left: 17.4%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_4 .texto p:first-child {
    width: 50%;
    margin-bottom: 5vh;
}
#artigo_4 .texto p:nth-child(2) {
    width: 70%;
    padding-left: 30%;
}

#artigo_4 .texto h3 {
    width: 70%;
    padding-left: 30%;
    margin-bottom: 5vh;
}



/*Artigo 5*/

#artigo_5 {
    position: absolute;
    top: 0;
    left: 18%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_5 .texto p:first-child {
    width: 70%;
    margin-bottom: 5vh;
    padding-left:30% ;
}

#artigo_5 .texto h3 {
    width: 60%;
    padding-left:40% ;
    margin-bottom: 5vh;
}

#p_5{
    width: 60%;
    padding-left:40% ;
    margin-bottom: 5vh;
}

/*Artigo 6*/

#artigo_6 {
    position: absolute;
    top: 0;
    left: 18.6%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;

}

#artigo_6 .texto p:first-child {
    width: 70%;
    margin-bottom: 5vh;
}

#artigo_6 .texto h3 {
    width: 70%;
    margin-bottom: 5vh;
}

#artigo_6 .texto p:last-child {
    width: 70%;
    padding-left: 50%;
}



/*Artigo 7*/

#artigo_7 {
    position: absolute;
    top: 0;
    left: 19.2%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_7 .texto p:first-child {
    width: 40%;
    margin-bottom: 5vh;
    padding-left: 60%;
}
#artigo_7 .texto p:nth-child(2) {
    width: 70%;
}

#artigo_7 .texto h3 {
    width: 70%;
    margin-bottom: 5vh;
}

#artigo_7 .texto p:last-child {
    width: 70%;
}


/*Artigo 8*/

#artigo_8 {
    position: absolute;
    top: 0;
    left: 19.8%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;

}

#artigo_8 .texto p:first-child {
    width: 40%;
    margin-bottom: 5vh;
}

#artigo_8 .texto h3 {
    width: 50%;
    margin-bottom: 5vh;
    padding-left: 20%;
}


/*Artigo 9*/

#artigo_9 {
    position: absolute;
    top: 0;
    left: 20.4%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_9 .texto p:first-child {
    width: 50%;
    margin-bottom: 5vh;
    padding-left: 40%;
}

#artigo_9 .texto p:nth-child(2) {
    width: 80%;
    margin-bottom: 5vh;
}


#artigo_9 .texto h3 {
    width: 80%;
    margin-bottom: 5vh;
}

/*Artigo 10*/

#artigo_10 {
    position: absolute;
    top: 0;
    left: 21%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_10 .texto p:first-child {
    width: 70%;
    margin-bottom: 5vh;
}

#artigo_10 .texto p:last-child {
    width: 30%;
    margin-bottom: 5vh;
}


#artigo_10 .texto h3 {
    width: 30%;
    margin-bottom: 5vh;
}


/*Artigo 11*/

#artigo_11 {
    position: absolute;
    top: 0;
    left: 21.6%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;

}

#artigo_11 .texto p:first-child {
    width: 40%;
    margin-bottom: 5vh;
    padding-left: 60%;
}

#artigo_11 .texto p:nth-child(2) {
    width: 80%;
    margin-bottom: 5vh;
}


#artigo_11 .texto h3 {
    width: 80%;
    margin-bottom: 5vh;
}


/*Artigo 12*/

#artigo_12 {
    position: absolute;
    top: 0;
    left: 22.2%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_12 .texto p {
    width: 50%;
    margin-bottom: 5vh;
    padding-left: 50%;
}

#artigo_12 .texto h3 {
    width: 70%;
    margin-bottom: 5vh;
}


/*Artigo 13*/
.footer_13 {
    margin-bottom: 5vh;
    margin-top:30vh;
    display: flex;
    width: 98%;
    align-self: center;
}

.footer_13 img:hover {
    cursor: pointer;
}

.num_footer img{
    height: 6vh;
    opacity: 20%;
}

.num_footer img:hover{
    opacity: 100%;
    transition: ease-in-out opacity 0.5s;
}

#goTop13{
    height: 5vh;
    align-self: center;
    opacity: 70%;
}

#goTop13:hover{
    opacity: 100%;
    transition: ease-in-out opacity 0.5s;
}

.on{
    opacity: 70% !important;
}

.num_footer{
    width: 55%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:0 auto;
}

#artigo_13 {
    position: absolute;
    top: 0;
    left: 23%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

#artigo_13 .texto p:nth-child(1) {
    width: 50%;
    margin-bottom: 5vh;
}

#artigo_13 .texto p:nth-child(2) {
    width: 70%;
    margin-bottom: 5vh;
    padding-left: 30%;
}

#artigo_13 .texto h3 {
    width: 70%;
    margin-bottom: 5vh;
    padding-left: 30%;
}

#artigo_13 .texto p:last-child {
    width: 70%;
    margin-bottom: 5vh;
    padding-left: 30%;
}



/*cubo*/
.edicao.container {
    width: 12%;
    height: 6vw;
    font-family: "Azeret";
    perspective: none;
    font-size: 5.5vw;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
}

.face {
    position: absolute;
    width: 100%;
    height: 1em;
    background-color: transparent;
}

.edicao .top {
    transform: rotateX(90deg) translateZ(3vw);
    font-size: 1em;
    height: 100%;
}

.edicao .front {
    transform: rotateX(0deg) translateZ(3vw);
    font-size: 1em;
    height: 100%;
}

/*cubo pequeno*/

.container {
    width: 3em;
    height: 1.2em;
    font-family: "Azeret";
    perspective: none;
    font-size: 1.2em;
    text-align: center;
}

.top {
    transform: rotateX(90deg) translateZ(0.6em);
    font-size: 1em;
    height: 100%;
}

.front {
    transform: rotateX(0deg) translateZ(0.6em);
    font-size: 1em;
    height: 100%;
}

/* ---- */

.logo p {
    font-size: 100% !important;
}


@keyframes spinup {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-90deg) rotateY(0deg);

    }
}

@keyframes spindown {
    0% {
        transform: rotateX(-90deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(0deg) rotateY(0deg);

    }
}

.rotateup {
    animation: spinup 0.9s forwards;
}

.rotatedown {
    animation: spindown 0.9s forwards;
}

.button {
    border: none;
    background-color: transparent;
    font-family: "Acumin Variable Concept";
    font-size: 1em;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #D4D6D4;
}

::-webkit-scrollbar-thumb {
    background: #323232;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a0a0a;
}

#artigo_typeEm {
    background-color: #cccccc;
    position: absolute;
    top: 0;
    left: 15%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    top: -100%;
    transition: top 1s;
    box-shadow: -5px 5px 30px 2px rgb(0 0 0 / 30%);
    scroll-behavior: smooth;
}

#artigo_typeEm.open {
    top: 0;
}

.footer_typem {
    position: relative;
    margin-bottom: 30vh;
}



.footer_typem img {
    width: 3vw;
    position: absolute;
    top: 0;
    right: 2vw;
}




.footer_typem img:hover {
    cursor: pointer;
}

#artigo_typeEm p {
    color: black;
    font-size: 1.5vw;
    line-height: 1.5em;
}

#artigo_typeEm #p_um {
    width: 45%;
    text-align: start;
    margin-left: 10%;
}

#p_um a {
    font-family: "Acumin Variable Black";
    text-transform: uppercase;
}

#artigo_typeEm #p_dois {
    width: 45%;
    margin-top: 8%;
    text-align: start;
    margin-left: auto;
    margin-right: 10%;
}

#artigo_typeEm #p_tres {
    width: 60%;
    margin-top: 8%;
    text-align: start;
    margin-left: auto;
    margin-right: 13%;
}

.Em_Ex_geral {
    display: flex;
    margin-top: 10%;
}

#Em_Ex_texto {
    width: 80%;
}

#imagens_letras {
    width: 20%;
    margin-top: 5%;
}

#imagens_letras img {
    width: 13vw;
    height: auto;
}

#imagens_letras_2 img {
    width: 13vw;
    height: auto;
}

#Em_Ex_texto_um {
    width: 45%;
    margin-right: auto;
    margin-left: 5%;
}

#Em_Ex_texto_dois {
    width: 80%;
    margin-left: auto;
    margin-right: 5%;
}


#Em_Ex_texto_flex {
    display: flex;
}



#Em_Ex_texto_2 {
    width: 80%;
}

#imagens_letras_2 {
    width: 20%;
    margin-top: 5%;
}


#Em_Ex_texto_2 h1 {
    margin-left: 2%;
}

#Em_Ex_texto_um_2 {
    width: 50%;
    margin-left: 3%;
    z-index: 1;
}

#Em_Ex_texto_dois_2 {
    width: 50%;
    margin-top: 30%;
}


.pos_neg {
    position: relative;
    z-index: 0;
    margin-top: 6vh;
}

#positive_negative h1:first-child {
    width: 80%;
    margin-left: 3%;
    z-index: 1;
    position: relative;
}

#h2 {
    margin-left: 40%;
    z-index: 1;
}

#positive_negative p {
    width: 60%;
    margin-left: 10%;
    z-index: 1;
}


.pos_neg img {
    position: absolute;
    width: 25vw;
    z-index: -1;

}

.pos_neg img:first-child {
    left: 8%;
    top: 48vh;
}

.pos_neg img:nth-child(2) {
    left: 60%;
    top: -6vh;
}


#six_emotional {
    margin-top: 20%;
}

#six_emotional h1 {
    margin-left: 3%;
    width: 90%;
}

h2 {
    font-size: 3em;
    line-height: 1.2em;
    font-family: "Acumin Variable Black";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#six_emotional_flex {
    display: flex;
}

#six_emotional_esq {
    width: 50%;
    margin-left: 5%;
}

#six_emotional_dir {
    width: 50%;
    margin-right: 5%;
    margin-top: 15%;
}


/*titulo 13 ways*/
.Michael_4 {
    margin-left: 30%;
}

.Michael_7 {
    margin-left: 30%;
}

.Michael_3 {
    display: flex;
}

.Michael_3 div:nth-child(2) {
    margin-left: 70%;
}

.Michael_6 {
    display: flex;
}

.Michael_6 div:nth-child(2) {
    margin-left: 60%;
}


.titulo_artigo h1 {
    transition: left 1s, transform 1s;
    margin: 0;
}

.titulo_artigo {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
}

.titulo_artigo_2 {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    text-align: center;
    margin-bottom: 35vh;
}

#intro_emo_1 {
    top: 0;
    left: 0;
}

#intro_emo_2 {
    position: absolute;
    top: 0%;
    transform: translateX(-100%);
    left: 100%;
}

.titulo_artigo_2 h1 {
    transition: left 1s, transform 1s;
    margin: 0;
}

#intro_emo_div {
    top: 23%;
    left: 0;
}

#intro_emo_3 {
    position: absolute;
    top: 46%;
}

#intro_emo_4 {
    position: absolute;
    top: 46%;
    transform: translateX(-100%);
    left: 100%;
}

#intro_emo_5 {
    position: absolute;
    top: 69%;
}

#intro_emo_6 {
    position: absolute;
    top: 92%;
    transform: translateX(-100%);
    left: 100%;
}

#img_seta img {
    position: absolute;
    width: 90%;
    transform: translate(-50%, 0%);
    z-index: 2;
    left: 50%;
    transform-origin: center;
}

.seta_2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    z-index: -1;
}

.mais {
    position: absolute;
    top: 0;
    left: 50%;
    width: 23vw !important;
}

.menos {
    position: absolute;
    top: 65%;
    left: 10%;
    width: 23vw !important;
}


.titulo_workflow {
    position: relative;
    z-index: 1;
}


.titulo_artigo_2 h1 {
    margin: 0;
    position: absolute;

}

.div_end {
    justify-content: flex-end !important;
}

.titulo_artigo p {
    line-height: 4px;
    font-size: 0.895vw;
}

#title_13_1 {
    position: absolute;
    top: 0;
    left: 0;
}

#title_13_2 {
    position: absolute;
    top: 23%;
    left: 0;
}

#title_13_3 {
    position: absolute;
    top: 23%;
    transform: translateX(-100%);
    left: 100%;
}

#title_13_4 {
    position: absolute;
    top: 46%;
    left: 0;
}

#title_13_5 {
    position: absolute;
    top: 69%;
    left: 0;
}

#title_13_6 {
    position: absolute;
    top: 69%;
    transform: translateX(-100%);
    left: 100%;
}

#title_13_7 {
    position: absolute;
    top: 92%;
    left: 0;
}

/*6 emotions*/
.emotions_6 {
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

.emotion {
    width: 100%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1em;
    align-items: center;
}

.emotion div * {
    width: 10%;
}

.col1-12 {
    grid-column: 1/12;
}

.row {
    display: flex;
    justify-content: space-between;
}


.titulo_artigo_2 div p {
    line-height: 4px !important;
    font-size: 0.895vw !important;
}

.Autores_typem {}

.Autores_typem_2 {
    display: flex;
    justify-content: space-between;
}

.Autores_typem_3 {
    display: flex;
    justify-content: space-between;
}


.Autores_typem_5 {
    margin-left: 30%;
}

.Autores_typem_4 {
    display: flex;
    justify-content: space-between;
}

.Autores_typem_7 {
    display: flex;
    justify-content: space-between;
}

.titulo_artigo_2 div {
    text-align: left;
}

#title_emotion_1 {
    position: absolute;
    top: 0;
    left: 0;
}

#title_emotion_2 {
    position: absolute;
    top: 21.5%;
    right: 0;
}

#title_emotion_3 {
    position: absolute;
    top: 37.7%;
    left: 0;
}

#title_emotion_4 {
    position: absolute;
    top: 50%;
    right: 0;
}

#title_emotion_5 {
    position: absolute;
    top: 68%;
    right: 17vw;
}

#title_emotion_6 {
    position: absolute;
    top: 93.3%;
    right: 0;
}

.artigo_1_intro {
    margin-top: 28vh;
}

#about{position: absolute;
    background-color:rgba(180,37,55,0.9);
width: 60vh;
height: 70vh;
top:15vh;
right: 0;
transform: translateX(0);
padding-top: 25px;
}



#about_texto{width: 80%;
    height: 90%;
margin-right: auto;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
    overflow-y: scroll;
}

#about_texto p{
    font-size: 1.8em;
    line-height: 1.2em;
}



#about_texto::-webkit-scrollbar {-ms-overflow-style: none;
scrollbar-width: none;}

#about_texto::-webkit-scrollbar {
display: none;
}


